<div class="title-container">
    <h1 class='title'> Nwitter </h1>
    
    <p class="user-on"> Usuario logeado: <%= current_user.name %></p>
    
</div>
<div class='users-container'>
    <%= render @users  %>
        
   
    
</div>



